node_modules/
.next/
.nuxt/
dist/
build/
out/
.env*
.vercel
*.tsbuildinfo
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
app-flutter/.dart_tool/
app-flutter/.packages
app-flutter/build/
